{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('styles/main.css') }}">

{% endblock %}

{% block title %}Sub categories{% endblock %}

{% block body %}
<h1 class="mb-5 mt-5">{{ subCategory.name }}</h1>
<div class="cardContainer">
   {% for product in products %}
   <div class="">
        <div class="card">
            <img src="{{asset('uploads/images/'~product.Image)}}" class="imgproduct card-img-top" alt="">
            <div class="cardBody">
                <a style="text-decoration: none;" href="{{ path('app_home_product_show',{'id':product.id} )}}"><h5 class="card-title titleProduct">{{ product.Name }}</h5></a>
                <p class="card-text">{{ product.Description|slice(0,60) }} ...</p>
                <h3>{{ product.price }} €</h3>

            </div>
            <a href="#" class="btnCart btn btn-outline-success">Add to cart</a>
        </div>
   </div>
    {% endfor %}
</div>
{% endblock %}
