{% extends 'base.html.twig' %}

{% block title %}HomePage{% endblock %}

{% block body %}
<div>
   {% for product in products %}
            <tr>
                <td>{{ product.Name }}</td>
                <td>{{ product.Description|slice(0,100) }} ...</td>
                <td>{{ product.Price }}</td>
                <td>
                {% if product.stock > 0 %}
                    {{ product.stock }}
                {% else %}
                <span class="text-danger">Out of Stock</span>
                {% endif %}
                </td>
                <td>
                    {% for subCategory in product.SubCategory %}
                        {{ subCategory.Name }}<br>
                    {% endfor %}
                </td>
                <td>
             
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
</div>
{% endblock %}
