{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('styles/homePage.css') }}">
{% endblock %}

{% block title %}HomePage{% endblock %}

{% block body %}
<h1>Green Market Products</h1>
<div class="container cardContainer">
   {% for product in products %}
   <div class="col-md-3">
        <div class="card">
            <a href="{{ path('app_home_product_show',{'id':product.id} )}}"></a>
            <img src="{{asset('uploads/images/'~product.Image)}}" class="imgproduct card-img-top" alt="">
            <div class="cardBody">
                            <a href="{{ path('app_home_product_show',{'id':product.id} )}}"><h5 class="card-title titleProduct">{{ product.Name }}</h5>
</a>
                <p class="card-text">{{ product.Description|slice(0,60) }} ...</p>
                <a href="#" class="btn btn-outline-success">Add to cart</a>
            </div>
        </div>
   </div>
    {% endfor %}
</div>
{% endblock %}
