{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
<div class="containerForm">  
    <h1>Register</h1>

    {{ form_errors(registrationForm) }}

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.email,{ attr: { autocomplete: 'email' } }) }}
        {{ form_row(registrationForm.name,{ attr: { autocomplete: 'name' } }) }}
        {{ form_row(registrationForm.first_name,{ attr: { autocomplete: 'first-name' } }) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
        {{ form_row(registrationForm.agreeTerms) }}

        <button id="submit-btn" type="submit" class="btn btn-lg btn-primary">Register</button>
    {{ form_end(registrationForm) }}
</div>
{% endblock %}
