{{ form_start(form) }}
    {{ form_row(form.Name, {'attr': {'class': 'form form-control'}}) }}
    {{ form_row(form.Description, {'attr': {'class': 'form form-control'}}) }}
    {{ form_row(form.Price, {'attr': {'class': 'form form-control'}}) }}
    {{ form_row(form.stock, {'attr': {'class': 'form form-control'}}) }}
    {{ form_row(form.SubCategory, {'attr': {'class': 'form form-control'}}) }}
    {{ form_row(form.Image, {'attr': {'class': 'form'}}) }}
    <button class="btn btn-outline-primary">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
