{% extends 'base.html.twig' %}

{% block title %}Product index{% endblock %}

{% block body %}
<div class="container">
    <h1>Product list</h1>
    {% include 'layouts/_flash_message.html.twig' %}
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Price</th>
                <th>Stock</th>
                <th>SubCategory</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <td>{{ product.Name }}</td>
                <td>{{ product.Description|slice(0,100) }} ...</td>
                <td>{{ product.Price }}</td>
                <td>
                {% if product.stock > 0 %}
                    {{ product.stock }}
                {% else %}
                <span class="text-danger">Out of Stock</span>
                {% endif %}
                </td>
                <td>
                    {% for subCategory in product.SubCategory %}
                        {{ subCategory.Name }}<br>
                    {% endfor %}
                </td>
                <td>
                    <a class="btn btn-outline-info" href="{{ path('app_product_show', {'id': product.id}) }}">show</a>
                    <a class="btn btn-outline-success" href="{{ path('app_product_edit', {'id': product.id}) }}">edit</a>
                    <a class="btn btn-outline-info" href="">add stock</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-success" href="{{ path('app_product_new') }}">Create new</a>
</div>
{% endblock %}
